.buttons-container {
    position: absolute;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    max-width: 1200px;
    min-width: 500px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
}

.slider-holder {
    position: relative;
    display: inline-block;
    width: 500%;
    clear: both;
    transition: left 1s linear;
}

.slider-content {
    position: relative;
    float: left;
    overflow: hidden;
    width: 20%;
    margin: 0px;
    padding: 0px;
}

.item {
    float: left;
    overflow: hidden;
    width: 23%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1.6%;
}

.item-img {
    height: 200px;
    margin: 7%;
}

.item-img img {
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.item-text {
    display: none;
    margin: 7%;
    text-align: left;
}

.item:hover {
    box-shadow: 0 0 10px #000;
    cursor: pointer;
}

.item:hover > .item-text {
    display: block;
}

input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    position: absolute;
    display: none;
    content: "";
}

input:checked ~ .checkmark:after {
    display: block;
}

#button-1:checked ~ .slider-holder {
    left: 0px;
}

#button-2:checked ~ .slider-holder {
    left: -75%;
}

#button-3:checked ~ .slider-holder {
    left: -150%;
}

#button-4:checked ~ .slider-holder {
    left: -225%;
}

#button-5:checked ~ .slider-holder {
    left: -300%;
}

input[type=checkbox]:not(old),
input[type=radio]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    opacity: 0;
    font-size: 1em;
}

input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label {
    display: inline-block;
    margin-left: -2em;
    transform: translateY(2400%);
    line-height: 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio]:not(old) + label > span {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0.25em 0.5em 0.25em 0.25em;
    vertical-align: bottom;
    border: 0.0625em solid rgb(192, 192, 192);
    border-radius: 0.5em;
    background: #fff;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio]:not(old):checked + label > span {
    background: dodgerblue;
}

input[type=radio]:not(old):checked + label > span > span {
    display: block;
    width: 0.25em;
    height: 0.25em;
    margin: 0.4em;
    border-radius: 0.25em;
    background: #fff;
}

.popup {
    position: fixed;
    display: none;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.close-button {
    float: right;
    margin: 2%;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

.popup-img img {
    position: absolute;
    max-width: 70%;
    max-height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
